/autom4te.cache/
aclocal.m4
config.log
config.status
config.sub
configure
depcomp
install-sh
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
Axiom
*.o
bin/*
build/*
src/Axiom
src/*.o
src/Makefile
src/Makefile.in



